body {
  background-color: #f4f4f4;/*whitesmoke*/
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ef5b5b; /*light coral*/
  color: white;
  padding: 14px;
}

.top h2 {
  margin: 5px;
  font-size: 20px;
}

.top, .proj-top {
  margin-bottom: 5px;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 15px solid #53b0d8; /*medium turqoise*/
  margin-top: 2px;
  flex-wrap: wrap;
}

nav a {
  margin: 4px 8px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

nav a:hover {
  color: #00006B; /*dark navy*/
  font-weight: bold;
  text-decoration: underline;
}

.intro {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
  width: 85%;
  margin-bottom: 10px;
  flex-direction: column;
}

/* Project Styles */ 

.proj-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ef5b5b; /*light coral*/
  color: white;
  padding: 31px;
}


.proj-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 12px;
}

.proj-intro a{
  color: black;
}

.proj-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 12px;
}

.proj-links a {
  color: black;
}

.proj-links a:hover {
  font-weight: bold;
  color:#4F4F4F;/*dark grey*/
}

.proj-links a, p {
  margin: 8px 2px;
}

.proj-img-container, .desk-img-container {
  border: 1px solid black;
}

.proj-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}

.proj-img {
  height: 100%;
  width: 100%;
}

.proj-filter {
  height: 35px;
  width: 350px;
  padding: 4px;
  outline-style: none;
  font-size: 15px;
}

.proj-name {
  font-size: 18.5px;
}

.proj-tech {
  font-size: 13.5px;
  font-style: italic;
  font-weight: bold;
}

/* Slideshow Styles */

.mob-slideshow, .desk-slideshow {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.prev, .next {
  cursor: pointer;
}

.prev:hover, .next:hover {
  color:grey;
}

.prev:active, .next:active {
  color:black;
}

.prev {
  display: flex;
  align-items: center;
}

.next {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.desk-slideshow {
  display: none;
}

/* Resumé Styles */

.resume {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

object {
  height: 350px;
  width: 350px;
  object-fit: contain;
}


/* Tablet/Desktop Style */

@media only screen and (min-width:768px) {

  nav {
    justify-content: flex-end;
    font-size: 1.15rem;
  }

  nav a:last-child {
    margin-right: 20px;
  }

  .mob-slideshow {
    display: none;
  }

  .desk-slideshow {
    display: flex;
    justify-content: center;
  }

  .desk-img-container {
    height: auto;
    width: 75%;
  }

  .desk-proj-img {
    width: 100%;
  }

  .intro {
    width: 40%;
  }

  .proj-filter {
    width: 550px;
  }

  object {
    height: 820px;
    width: 820px;
  }
}
