body {
  background-color: #f4f4f4;/*whitesmoke*/
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ef5b5b; /*light coral*/
  color: white;
  padding: 14px;
}

.top h2 {
  margin: 5px;
  font-size: 20px;
}

.top, .proj-top {
  margin-bottom: 5px;
}

nav {
  display: flex;
  justify-content: center;
  border-bottom: 15px solid #53b0d8; /*medium turqoise*/
  margin-top: 2px;
  flex-wrap: wrap;
}

nav > a {
  margin: 4px 8px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
}

/*nav animated underline effect*/

nav > a:hover {
  color:#00006B; /*dark navy*/;
}

nav > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color:#00006B; /*dark navy*/;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Homepage Intro Styles */

.intro {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  width: 85%;
  margin-bottom: 10px;
  flex-direction: column;
}

.intro-part3 a {
  color: black;
}

.intro-part3 a:hover {
  font-weight: bold;
  text-decoration: none;
}

/* Project Styles */ 

.proj-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ef5b5b; /*light coral*/
  color: white;
  padding: 31px;
}


.proj-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 12px;
}

.proj-intro a{
  color: black;
}

.proj-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 12px;
}

.proj-links a {
  color: black;
}

.proj-links a:hover {
  font-weight: bold;
  color:#4F4F4F;/*dark grey*/
}

.proj-links a, p {
  margin: 8px 2px;
}

.proj-img-container, .desk-img-container {
  border: 1.2px solid black;
  border-radius: 4px;
}

.proj-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  box-shadow: 0px 2px 8px 2px rgba(171,169,171,1);
}

.proj-img {
  height: 100%;
  width: 100%;
}

.proj-filter {
  height: 35px;
  width: 350px;
  padding: 4px;
  outline-style: none;
  font-size: 15px;
}

.proj-name {
  font-size: 18.5px;
}

.proj-tech {
  font-size: 13.5px;
  font-style: italic;
  font-weight: bold;
}

/* Slideshow Styles */

.mob-slideshow, .desk-tiles {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.prev, .next {
  cursor: pointer;
}

.prev:hover, .next:hover {
  color:grey;
}

.prev:active, .next:active {
  color:black;
}

.prev {
  display: flex;
  align-items: center;
}

.next {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.desk-tiles {
  display: none;
}

/* Resumé Styles */

.resume {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

object {
  height: 350px;
  width: 350px;
  object-fit: contain;
}

/* Footer Styles */

footer {
  display: none;
  text-align: center;
  border-top: 1px solid grey;
}

/* Tablet Styles */

@media only screen and (min-width:768px) {

  nav {
    justify-content: flex-end;
    font-size: 1.15rem;
  }

  nav a:last-child {
    margin-right: 20px;
  }

  .mob-slideshow {
    display: none;
  }

  .desk-tiles {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  .desk-img-container {
    height: auto;
    width: 40%;
    margin: 8px;
    box-shadow: 0px 2px 8px 2px rgba(171,169,171,1);
    position: relative;
  }

  .desk-proj-img {
    width: 100%;
  }

/* Hides overlay for tablets */
  .overlay {
    display: none;
  }

  .intro {
    width: 40%;
    margin-bottom: 50px;
  }

  .proj-filter {
    width: 550px;
  }

  object {
    height: 820px;
    width: 820px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 1025px){
  
  .intro{
    margin-bottom: 10px;
  }

  .overlay {
    display: block;
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    overflow: hidden;
    width: 0;
    height: 50%;
    transition: .5s ease;
  }

  .desk-img-container:hover .overlay {
    width: 100%;
    left: 0;
  }

  .overlay-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 1.3rem;
    white-space: nowrap;
  }
}
